
/****** General ***********/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

* {
    font-family: 'Raleway', sans-serif;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;  /* limite du contenu pour les trés grands écrans */
    padding: 0 50px;
    box-sizing: border-box;
}

a {     /* reset du style des liens par défaut */
    color: inherit;
    text-decoration: none;
}

b {
    font-size: 18px;
    font-weight: bold;
}

.warning-banner {   
    display: none;  /* dissimulation de la bannière d'avertissement */
}

/****** Header ***********/

header {
    height: 79px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo {
    width: 61px;
    height: 20px;
    margin: 30px 50px 30px 0;
}

.header-nav {
    display: flex;
    gap: 68px;
}

.header-nav a {
    padding-top: 16px;
}

.header-nav a:hover {   /* Pour l'effet d'onlget bleu au survol */
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.search-form {
    display: flex;
    flex-flow: column;
    gap: 30px;
    margin: 30px 0 25px 0;
}

.search-bar {
    display: flex;
}

.location-button {
    display: flex;
    padding: 16px;
    border: none;
    border-radius: 15px 0 0 15px;
    background: var(--main-bg-color);
    cursor: pointer;
}

.fa-location-dot {
    color: #000000;
}

.search-input {
    border: 1px solid var(--main-bg-color);
}

.search-input::placeholder {
    color: #000000;
    opacity: 1;         /* reset sur l'opacité pour Firefox */
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.search-input:focus {
    outline: none;      /* reset du style de la barre de recherche */
}

.search-button {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 16px;
    background: var(--main-color);
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.search-button-icon {
    display: none;      /* dissimulation du bouton-icône */ 
}

.filters-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filters {
    display: flex;
    gap: 20px 10px ;
}

.filters a {
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    padding: 15px;
    font-weight: bold;
}

.filters i {
    padding-right: 10px;
}

.search-info {
    display: flex;
    align-items: center;
}

.fa-info {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
}

.filters a:hover{
    background: var(--filter-bg-color);   /* changement de couleur des filtres au survol */
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-content {
    padding: 0 0 4px 4px;
}

.card-title {
    font-size: calc(10px + .3vw);   /* font-size responsive */
    margin: 5px 0 5px 0;
}

.card-subtitle {
    font-size: calc(9px + .3vw);    /* font-size responsive */ 
    margin: 5px 0 5px 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 65%;
}
 
.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.hebergements-cards a {
    width: 29.5%;
}

/*  Alternative avec grid ____________*/

/* .hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
} */

/*____________________________________*/

.hebergements-cards img {
    width: 100%;
    height: 8vw;        /* hauteur responsive (pour la version flex de la section hébergements) */
    max-height: 124px;
    border-radius: 20px 20px 0 0;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 10vw;           /* hauteur responsive */
    max-height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites {
    padding: 50px 20px 50px 20px;
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards a {
    width: 24%;
}

.activites .card {
    margin: 0;
    padding: 0;
    height: 100%;
}

.activites-cards img {
    width: 100%;
    height: 25vw;   /* hauteur responsive */
    max-height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites .card-content {
    padding: 5px 5px 5px 15px;
}

/****** Footer ***********/

footer {
    background: var(--main-bg-color);
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

footer ul {
    list-style: none;      /* reset du style par défaut des listes */
    padding: 0 0 0 15px;
}

footer h2 {
    font-size: 16px;
    margin: 0;
}

footer li {
    line-height: 2;
    font-size: 14px;
}
 
/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

    .filters-container {
        flex-flow: column;
        align-items: flex-start;
        gap: 20px;
    }

    .card-title {
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 12.5px;
    }

    .hebergements-and-populaires {
        flex-direction: column;     /* changement de layout des sections hébergements et populaires */
    }

    .hebergements {
        width: 100%;
        gap: 30px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }
    .populaires-cards img {
        height: 14vw;       /* hauteur responsive */
    }

    .activites .card-content {
        display: flex;
        align-items: center;
    }

}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    
    .main-container {
        padding: 0;
    }

    header {            /* changement de layout du header */ 
        flex-flow: column;
        margin: 0 0 20px 0;
        align-items: center;
    }

    .logo {
        margin: 20px 0 10px 0;
    }

    .header-nav {
        width: 100%;
        gap: 0;
    }

    .header-nav a {
        width: 50%;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .header-nav a:hover {       /* modification de l'onglet au survol */
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .section-title {
        font-size: 19px;
    }

    .main-title {
        padding: 20px calc(15vw - 35px);    /* padding responsive */
    }

    .main-title p {
        font-size: 15px;
    }

    .search-form {
        align-items: center;
        margin: 0 0 15px 0;
        font-size: 15px;
        padding-inline: calc(15vw - 35px);   /* padding responsive */
    }

    .search-bar {
        width: 100%;
        max-width: 400px;
    }

    .search-input {
        flex-grow: 1;
    }

    .search-button-text {
        display: none;       /* dissimulation du bouton de recherche texte */
    }

    .search-button-icon {
        display: block;      /* affichage du bouton de recherche icône */
        margin-left: -10px;
        border-radius: 15px;
        box-shadow: 0px 5px 5px #00000067;
    }

    .filters-container {
        max-width: 450px;
    }

    .filters {          /* changement de layout des filtres */
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    .filters a {
        width: 35%;
        font-size: calc(12px + .4vw);   /* font-size responsive */
        flex-grow: 1;
    }

    .fa-magnifying-glass {
        color: #FFFFFF;
    }

    b {
        font-size: 17px;
    }

    .search-info {
        margin: 0 20px 0 0;
    }
    
    .hebergements-and-populaires {
        flex-flow: column-reverse;    /* inversement des sections hébergements et populaires */
    }

    .hebergements-and-populaires .populaires {
        border-radius: 0;
        padding-inline: calc(20vw - 50px);      /* padding responsive */ 
        margin: 0;
    }

    .hebergements-and-populaires .hebergements {
        padding-inline: calc(20vw - 50px);       /* padding responsive */ 
        background: #FFFFFF;
    }
    
    .populaires-cards {
        flex-flow: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards img {
        height: 146px;
    }

    .hebergements-cards {
        /* display: flex; */    /* Si la version desktop utilise grid */
        flex-flow: column;
        align-items: center;
        gap: 15px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards img {
        height: 124px;
    }

    .activites {
        padding-inline: calc(20vw - 50px);     /* padding responsive */ 
    }

    .activites-cards {
        flex-flow: column;
        align-items: center;
        gap: 15px;
    }

    .activites-cards a {
        width: 100%;
    }

    .activites-cards img {
        height: 141px;
    }

    .footer-nav {
        flex-flow: column;
        padding-inline: calc(20vw - 50px);      /* padding responsive */ 
    }

}

/* Very small devices (phones, less than 320px) */

@media (max-width: 319.98px) {    /* affichage de la bannière pour les petits écrans */

    .warning-banner {
        display: flex;
        flex-flow: column;
        gap: 10px;
        align-items: center;
        text-align: center;
        padding: 10px;
        background: lightyellow;
        border-top: 4px solid red;
        border-bottom: 4px solid red;
    }

    .warning-banner .fa-triangle-exclamation {
        color: darkorange;
        border: 2px solid darkorange;
        border-radius: 50%;
        padding: 10px;
    }
}

/* Large devices (laptops and monitors, more than 1440px) */

@media (min-width: 1440px) {    /* limites des font-size responsives pour les trés grands écrans */

    h3.card-title {
        font-size: 15px;
    }

    p.card-subtitle {
        font-size: 14px;
    }
}

